$color-bg: #ffffff38;

$color-btn-text-hover: #f8f403;
$color-btn-text: #f5f5f5;
$color-btnStart: #df4242;
$color-btnHover: #e22929;
$color-text-counter: #ffffffb4;
$color-text-counter-white: rgb(248, 246, 246);

$color-text-black: #000000;

//color btn start
$color-btnHover-img-hover: #fcd708;
$color-btn-border: #f5f4f1;
$color-btnStart-img: #dfdfd7;

//color texto
$color-text-tittle: #131212;
$color-text-chapter: #fcd708;
$color-text-slogan: #f5f5f5;

//border contendor

$color-stars: #f5f1f1;

//border boton end
$color-btn-end: #fdfdfc;
$color-btn-end1: #f7f8f5;

// color question
$color-text-question: #f7f6f0;
$color-text-options: #f7f3f2;

$color-balloon: #ffffff63;
$color-backgroundPlay: #ffecba;
$color-playCurrent: #ffc121;
$color-text-question: #fdfdfb;
$color-text-answer: #000000;

// color correct question
$color-text-options-correct: #8ccb41;
$color-text-options-incorrect: #eb522c;

//baground color end container
$color-end-container: #ce1d2c;

$color-prueba: #fdfdfd85;
