@font-face {
    font-family:fontTitle;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family:fontText;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family:fontQuestion;
    src: url(../fonts/Montserrat-Bold.ttf);
}
